<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

		<title>試験用 疑似音声発生器</title>

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
		<link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
		<link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
		<script src="https://unpkg.com/vue"></script>
		<script src="https://unpkg.com/vue-material"></script>

		<link rev="made" href="mailto:cho45@lowreal.net"/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
		<style>
			#app {
				max-width: 600px;
				margin: auto;
			}

			#canvas {
				position: relative;
				width: 600px;
				height: 512px;
				margin: 0 -17px;
			}

			#canvas > canvas {
				position: absolute;
				width: 100%;
				height: 100%;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<md-app>
				<md-app-content>
					<md-button class="md-raised" @click="start">start</md-button>
					<md-button class="md-raised" @click="stop">stop</md-button>
					<p>無線機の試験用に等ゲイン (RMS) の正弦波または疑似音声<!-- 、疑似信号 -->を発生させます。OS の設定や出力装置によって出力電圧は変わりますので、単位はありません。Gain は 1.0 に対する比で dB になっています</p>
					<p>疑似音声は ITU-T G.227 の特性に従ってホワイトノイズをフィルタすることで発生させています (デジタルフィルタ)</p>
					<md-field>
						<label>Gain</label>
						<md-input type="number" min="-100.0" max="0.0" step="0.1" v-model="gainValue"></md-input>
						<span class="md-suffix">dB</span>
					</md-field>

					<p>
					<md-checkbox v-model="offset10dB">F3E, F1E, G1E 用:+10dB</md-checkbox>
					</p>

					<p>
					<md-radio v-model="waveType" value="sine1kHz">1kHz 正弦波</md-radio>
					<md-radio v-model="waveType" value="pseudoAudio">疑似音声</md-radio>
					<md-radio v-model="waveType" value="whitenoise">ホワイトノイズ</md-radio>
					</p>


					<p>
					rate: {{gainValueRate}}<br />
					avg: {{avg}}<br/>
					rms: {{rms}}<br/>
					peak: {{peak}}
					</p>

					<div id="canvas">
						<canvas ref="spectrumGrid" width="1200" height="1024"></canvas>
						<canvas ref="spectrum" width="1200" height="1024"></canvas>
					</div>
				</md-app-content>
			</md-app>
		</div>
		<script src="script.js" type="module"></script>
	</body>
</html>
